# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
word2vec
word2phrase
distance
word-analogy
compute-accuracy

# Data
text8
vectors.bin
voc

# Project files
word2vec.sublime-project
word2vec.sublime-workspace
.*

