# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
c/word2vec
c/word2phrase
c/distance
c/word-analogy
c/compute-accuracy
*.pyc

# Data
data/

# Project files
w2v.*
.*
